# Bỏ qua tất cả các tệp và thư mục
*

# Cho phép thư mục src/main/java và tất cả các tệp bên trong nó
!/src/
!/src/main/
!/src/main/java/**

# Bỏ qua tệp application.properties
src/main/resources/application.properties

